@page
@model ValoDatabase.Pages.Matchs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].MatchID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].Map)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Match) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
