@page
@model ValoDatabase.Pages.Players.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.PlayerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.InGameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.InGameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Region)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Player.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
